@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    background-color: #d9f8fa;
    color: #0f141e;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}


a:hover{
    text-decoration: none;
}

a:active{
    color: blue;
}
.ks {
    border-radius: 30px;
    
}
.imgks {
    color: green;
}

.imgp {
    color: gray;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1.5px;

}

.ldr {
    max-width: 70%;
    margin: auto;
}

.card1 {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: solid 1px;
    
}
.cr {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: solid 1px ;
}


.bg-ye {
    background: rgb(255, 255, 71);
}

.bg-bl {
    background: rgb(92, 230, 57);
}

.card1 h2 {
    text-align: center;
}
.cr h2 {
    text-align: center;
}
 .card2 {
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: solid 1px;
    
 }
 .bg-gr {
    background-color: rgba(0, 255, 8, 0.525);
 }
 .channel {
padding: 10px;
border-radius: 25px;
border: solid 1px;
 }
 .bg-re {
    background-color: rgb(232, 65, 65);
 }
 .card1 {
    margin-bottom: 0px;
 }
 .card  {
    border: #0f141e;
 }
